
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
</head>
<body>
    <div id="logincontent"></div>
    <script src="@Url.Content("../../React/authorization/login.jsx")"></script>
    @*<div class="eheader">
        <div class="container-fluid">
            <div class="elogo float-left"></div>
            <div class="etopmenu float-right">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 429.723 429.723" style="enable-background:new 0 0 429.723 429.723;" xml:space="preserve">
<g>
                            <g>
                            <path d="M264.878,188.443c-2.927-1.946-6.413-2.873-9.92-2.64h-43.36c1.228-1.909,2.591-3.727,4.08-5.44
			c5.28-5.829,11.062-11.183,17.28-16c8.373-6.827,14.347-11.84,17.92-15.04c4.118-3.896,7.648-8.369,10.48-13.28
			c3.432-5.693,5.206-12.233,5.12-18.88c-0.025-8.743-3.371-17.15-9.36-23.52c-2.982-3.091-6.543-5.565-10.48-7.28
			c-6.92-2.848-14.36-4.21-21.84-4c-6.302-0.134-12.572,0.924-18.48,3.12c-4.841,1.761-9.277,4.482-13.04,8
			c-3.41,3.205-6.132,7.07-8,11.36c-1.633,3.793-2.503,7.871-2.56,12c-0.159,2.773,0.823,5.491,2.72,7.52
			c1.842,1.834,4.363,2.819,6.96,2.72c2.743,0.167,5.406-0.958,7.2-3.04c1.948-2.608,3.437-5.53,4.4-8.64
			c0.725-2.372,1.663-4.675,2.8-6.88c3.58-6.07,10.154-9.739,17.2-9.6c3.344-0.041,6.644,0.756,9.6,2.32
			c2.879,1.506,5.287,3.775,6.96,6.56c1.729,2.9,2.616,6.224,2.56,9.6c-0.057,3.495-0.876,6.935-2.4,10.08
			c-1.609,3.732-3.796,7.188-6.48,10.24c-3.52,3.644-7.407,6.915-11.6,9.76c-4.411,3.359-8.606,6.993-12.56,10.88
			c-5.973,5.333-12.667,11.92-20.08,19.76c-2.084,2.374-3.76,5.077-4.96,8c-1.279,2.488-2.041,5.209-2.24,8
			c0.023,3.037,1.296,5.931,3.52,8c2.654,2.419,6.175,3.66,9.76,3.44h61.52c2.947,0.165,5.834-0.875,8-2.88
			c1.802-1.862,2.781-4.37,2.72-6.96C268.427,192.881,267.143,190.163,264.878,188.443z" />

	</g>
</g>
<g>
                            <g>
                            <path d="M369.838,162.043c-3.281-1.296-6.795-1.895-10.32-1.76h-3.6v-64.32c0-9.707-4.24-14.56-12.72-14.56
			c-2.501-0.045-4.918,0.904-6.72,2.64c-2.603,2.626-4.984,5.462-7.12,8.48l-44.24,59.2l-3.12,4.08
			c-0.853,1.12-1.653,2.267-2.4,3.44c-0.716,1.076-1.307,2.23-1.76,3.44c-0.37,1.026-0.56,2.109-0.56,3.2
			c-0.164,3.683,1.299,7.251,4,9.76c3.335,2.63,7.521,3.94,11.76,3.68h41.6v15.52c-0.261,3.421,0.767,6.817,2.88,9.52
			c1.93,2.146,4.716,3.32,7.6,3.2c3.005,0.252,5.959-0.9,8-3.12c2.09-2.743,3.088-6.164,2.8-9.6v-15.52h5.12
			c3.326,0.219,6.641-0.561,9.52-2.24c2.205-1.641,3.414-4.299,3.2-7.04C374.341,166.806,372.753,163.566,369.838,162.043z
			 M334.638,160.603h-35.6l35.6-48.56V160.603z" />

	</g>
</g>
<g>
                            <g>
                            <path d="M376.638,413.723l-0.24-0.72c-29.52,1.28-40.72-17.12-53.76-38.4c-11.52-18.8-24.48-40-51.84-40
			c1.575-3.275,2.705-6.746,3.36-10.32c3.36-20.16-5.76-51.28-68.16-84.48c-2.329-1.223-5.111-1.223-7.44,0l-20.96,10.8
			c-5.04,0-27.84-2-52.56-50.24c-20.8-51.28-8.88-70.16-6.32-73.44l21.52-9.44c2.415-1.062,4.151-3.247,4.64-5.84
			c13.44-69.44-5.04-96-22.8-106.16c-7.058-3.683-14.92-5.552-22.88-5.44c-18.191-0.82-34.86,10.11-41.36,27.12
			c-12.88,32-27.68,101.04,17.12,196.64c46.08,94.88,108.8,126.4,142.08,136.8c4.296,1.362,8.773,2.063,13.28,2.08
			c10.351-0.107,20.296-4.039,27.92-11.04c0.453,0.039,0.907,0.039,1.36,0c25.6-5.2,35.04,8,49.6,32
			c12.64,20.56,28.24,46.08,64.64,46.08h3.44c4.418-0.177,7.857-3.902,7.68-8.32C384.781,416.985,381.056,413.546,376.638,413.723z
			 M258.318,321.243c-2.965,13.6-14.382,23.724-28.24,25.04c-2.879-0.025-5.738-0.483-8.48-1.36c-30.96-9.6-88.96-39.04-132.4-128.4
			s-28.64-154.16-16.72-183.84c4.228-10.797,14.902-17.666,26.48-17.04c5.212-0.122,10.375,1.032,15.04,3.36
			c18.16,10.32,24,40.4,16,85.04l-19.04,8c-0.661,0.289-1.28,0.665-1.84,1.12c-2.8,2.32-26.4,24,1.52,92.96
			c27.52,53.84,56,59.6,66.56,59.6c1.613,0.016,3.222-0.145,4.8-0.48c0.641-0.163,1.259-0.405,1.84-0.72l18.48-9.52
			C241.838,277.403,261.758,300.683,258.318,321.243z" />

	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            Support : 9650402952
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m341 452 80 60v-60h91v-271h-181v-181h-331v271h91v60l80-60h10v181zm141-30h-91v30l-40-30h-140v-211h271zm-321-181-40 30v-30h-91v-211h271v151h-65.730469l-69.269531-138.539062-73.417969 146.832031 26.832031 13.417969 18.355469-36.710938h56.460938l7.5 15h-20.730469v60zm18.230469-105h-26.460938l13.230469-26.460938zm0 0" /><path d="m324.964844 340.40625c-16.085938 13.546875-31.273438 20.59375-38.964844 20.59375v30c19.328125 0 42.546875-14.144531 60-29.132812 17.453125 14.988281 40.671875 29.132812 60 29.132812v-30c-7.691406 0-22.878906-7.046875-38.964844-20.59375 8.710938-10.589844 17.875-24.453125 21.878906-39.40625h32.085938v-30h-60v-30h-30v30h-60v30h32.085938c4.003906 14.953125 13.167968 28.816406 21.878906 39.40625zm21.035156-21.691406c-4.730469-6.085938-8.496094-12.121094-11.070312-17.726563h22.140624c-2.574218 5.605469-6.339843 11.640625-11.070312 17.726563zm0 0" /></svg>
                            English
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="eloginbody">
        <div class="banner">
            <div class="banner-circle">
                <div class="container-fluid">
                    <div class="col-lg-4 col-xs-12 col-sm-6 col-md-4 float-left"></div>
                    <div class="col-lg-8 col-xs-12 col-sm-6 col-md-8 float-right">
                        <div class="elgnbase">
                            <div class="elgnuser">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 508 508" style="enable-background:new 0 0 508 508;" xml:space="preserve">
<circle style="fill:#84DBFF;" cx="254" cy="254" r="254" />
<path style="fill:#F1543F;" d="M441.2,190.8c0,3.2-0.8,6-2.8,8.8c-8.8-4.8-19.2-7.2-30-7.2c-11.2,0-21.6,2-30,7.2
	c-1.6-2.8-2.8-5.6-2.8-8.8c0-12,14.8-22,32.8-22C426.4,168.8,441.2,178.8,441.2,190.8z" />
<path style="fill:#FF7058;" d="M464.8,254.4c0,12.4-2,25.2-5.2,37.6H357.2c-0.8-3.6-1.6-6.8-2.4-10.4c9.6-17.2,20-45.6,14.8-76
	c10-9.2,23.6-13.2,38.4-13.2C439.6,192.4,464.8,209.6,464.8,254.4z" />
<path style="fill:#F9B54C;" d="M444.8,328c0,0,2.8,16-15.6,32.4l-57.6-28c0.4-4.4,1.6-8.4,3.2-12c8.8,16,20.8,26.8,34,26.8
	s25.2-11.2,34-26.8C443.6,322.8,444.4,325.2,444.8,328L444.8,328z" />
<path style="fill:#4CDBC4;" d="M485.6,358.4c-8.8,20-20.4,38.4-34,55.2l-3.2-10.4c2-6,9.6-39.6,4.8-60.8L485.6,358.4z" />
<g>
                                <path style="fill:#FFFFFF;" d="M448.4,403.2l-12.8-40l-6.4-3.2c18.4-16.4,15.6-32.4,15.6-32.4C462.8,341.6,450.8,395.2,448.4,403.2
		z" />
                                <path style="fill:#FFFFFF;" d="M372,328c-0.4,1.2-0.4,2.8-0.8,4.4l-2.4-1.2C369.6,330,370.8,328.8,372,328z" />
</g>
<path style="fill:#FFD05B;" d="M462.8,296.8c-3.6,7.2-9.6,10.4-13.6,8c-9.2,23.6-24,42-41.2,42s-32-18.4-41.2-42
	c-4,2.4-10-1.2-13.6-8c-1.6-3.2-2.4-6.4-2.8-9.2c2-2.8,4-6.4,6-10.4c0.8,0,1.6,0,2.8,0.4l0,0l0.4,0.4l0,0c0-0.4-1.6-15.2,37.6-31.2
	c14-5.6,22.8-12,28-18c2,8.8,6.8,21.2,19.6,26c0,0,12,2.8,10.8,22.8l0,0c2-0.8,4-0.8,5.6,0.4C466.4,281.2,466.8,289.6,462.8,296.8z" />
<path style="fill:#E6E9EE;" d="M342.8,395.2L342.8,395.2c-0.8,5.6-2,11.6-2.8,18l-14-42.4C332.8,376.4,339.2,384,342.8,395.2z" />
<path style="fill:#F9B54C;" d="M338.8,304c0,0,4.8,26.4-33.6,49.2L261.6,332c-11.6-15.2-9.2-28-9.2-28s0,0-0.4,0
	c0-0.4,0-0.8,0.4-1.6c12,14.8,26.8,24.4,43.2,24.4s31.2-9.6,43.2-24.4C338.8,303.2,339.2,303.6,338.8,304
	C339.2,304,339.2,304,338.8,304z" />
<path style="fill:#2B3B4E;" d="M451.6,413.6c-24,29.6-54.4,53.6-89.2,70l-22.8-70.4c1.2-6,2-12,2.8-18c0.4,0.8,12.8-45.6,6-73.6
	l86.4,41.6L451.6,413.6z" />
<g>
                                <path style="fill:#FFFFFF;" d="M342.8,395.2c-3.6-11.2-10-19.2-16.8-24.4l-2.8-8.8l-17.6-8.4c38.4-22.8,33.6-49.2,33.6-49.2
		C362.8,322,343.2,396.4,342.8,395.2z" />
                                <path style="fill:#FFFFFF;" d="M261.6,332l-19.2-9.2c1.6-8,4.8-14.8,10-18.8C252.4,304,250,316.8,261.6,332z" />
</g>
<path style="fill:#FFD05B;" d="M350.8,269.2c-5.6,17.6-8,27.2-8,28.4l0,0c-12.8,17.2-29.2,29.2-46.8,29.2c-16.8,0-32.4-10.4-44.8-26
	c0,0,0.4,0,0.4,0.4c-12-14.8-14.8-35.6-14.4-53.6l0,0c4.4-10.4,7.6-22.8,9.6-36c16,12,52.8,12.8,52.8,12.8
	c-18.8-3.2-21.6-18-21.6-18c3.2,9.2,44.8,14.8,44.8,14.8C365.2,227.2,350.8,269.2,350.8,269.2z" />
<g>
                                <path style="fill:#2B3B4E;" d="M251.2,301.2c0,0-14-11.2-25.6-30.8c3.6-6,7.6-14,11.2-22.8C236.4,265.6,239.2,286.4,251.2,301.2z" />
                                <path style="fill:#2B3B4E;" d="M342.8,298c0,0,2-10,8-28.4c0,0,14.4-42-28.8-48.4c0,0-41.6-5.6-44.8-14.8c0,0,3.2,15.2,21.6,18
		c0,0-36.8-0.8-52.8-12.8c2.4-20,0.8-42-9.6-64c8.4-4.4,19.2-6,34-2c0,0,58.4-23.2,88.4,29.6C390.8,231.6,350.8,292.8,342.8,298z" />
</g>
<path style="fill:#324A5E;" d="M334.4,239.2H314h-2h-32.4h-1.2h-21.6c-6.4,0-11.6,5.2-11.6,11.6v9.6c0,6.4,5.2,11.6,11.6,11.6h22.4
	c2.8,0,5.6-1.2,7.6-2.8c0.8-0.4,1.2-0.8,1.6-1.6c1.6-3.6,4.4-5.6,7.2-5.6c2.8,0,5.6,2,7.2,5.6c0.4,0.8,0.8,1.2,1.6,1.6
	c2,2,4.8,2.8,7.6,2.8h22.4c6.4,0,11.6-5.2,11.6-11.6v-9.6C346,244.4,340.8,239.2,334.4,239.2z M256.8,266.4c-3.2,0-6-2.8-6-6v-9.6
	c0-3.2,2.8-6,6-6h21.6h1.2c3.2,0,6,2.8,6,6v9.6c0,0.8,0,1.6-0.4,2.4c-0.4,0.4-0.4,0.8-0.8,1.2c-1.2,1.6-2.8,2.4-4.8,2.4H256.8z
	 M295.6,256c-1.6,0-3.2,0.4-4.8,1.2v-6.8c0-2.4-0.8-4.4-1.6-6h13.2c-1.2,1.6-1.6,4-1.6,6v6.8C298.8,256.4,297.2,256,295.6,256z
	 M340.4,260.4c0,3.2-2.8,6-6,6H312c-2,0-3.6-0.8-4.8-2.4c-0.4-0.4-0.4-0.8-0.8-1.2c-0.4-0.8-0.4-1.6-0.4-2.4v-9.6c0-3.2,2.8-6,6-6h2
	h20.4c3.2,0,6,2.8,6,6V260.4z" />
<g>
                                <path style="fill:#E6E9EE;" d="M77.6,436.4c0.4,0.8,1.2,1.2,1.6,1.6C78.8,437.6,78,437.2,77.6,436.4L77.6,436.4z" />
                                <path style="fill:#E6E9EE;" d="M160,355.6c-0.4,0-0.8,0.4-1.2,0.4s-0.8-0.4-1.2-0.4H160z" />
                                <path style="fill:#E6E9EE;" d="M214,399.6c-4.4,29.2-11.6,63.2-23.6,100.4c-26-6.8-50.8-17.6-72.8-31.6c-6.8-24.8-11.2-48-14-68.8
		c12.8-40,55.2-43.6,55.2-43.6S201.6,359.6,214,399.6z" />
</g>
<path style="fill:#F9B54C;" d="M209.6,292c0,0,6.4,36-50.8,64h-0.4c-57.2-28-50.8-64-50.8-64s0,0-0.4,0c0-0.4,0.4-1.2,0.4-1.6
	c14,17.2,31.6,28.4,50.8,28.4s36.4-11.2,50.8-28.4C209.6,291.2,210,291.6,209.6,292C210,292.4,210,292,209.6,292z" />
<g>
                                <path style="fill:#54C0EB;" d="M159.2,356C159.2,356,158.8,356,159.2,356c-0.4,0-0.4,0-0.4,0H159.2z" />
                                <path style="fill:#54C0EB;" d="M179.2,361.6l-6.8,19.6h-26.8l-6.8-19.6c11.2-4.8,20-5.6,20-5.6S168,356.8,179.2,361.6z" />
</g>
<path style="fill:#84DBFF;" d="M189.2,499.6l-16.8-118.4h-26.8L132,476.8C149.6,486.4,168.8,494.4,189.2,499.6z" />
<path style="fill:#324A5E;" d="M117.6,468.4c-44-28-78.8-69.2-98.8-118l77.6-37.2c-8,33.6,6.8,88,7.2,86.8
	C106.4,420.4,111.2,443.2,117.6,468.4z" />
<g>
                                <path style="fill:#FFFFFF;" d="M209.6,292c0,0,6.4,36-50.8,64c0,0,42.8,3.2,55.2,43.6C214.8,400.8,238,313.6,209.6,292z" />
                                <path style="fill:#FFFFFF;" d="M108,292c-28,21.2-4.8,108.8-4.4,107.2c12.8-40,55.2-43.6,55.2-43.6C101.6,328.4,108,292,108,292z" />
</g>
<path style="fill:#FFD05B;" d="M223.6,251.2c-7.2,22-9.6,33.6-9.6,33.6c-14.8,20.4-34,34-55.2,34c-20,0-38-12.4-52.8-30.8l0.4,0.4
	c-31.2-38.4-9.6-109.2-9.6-109.2c15.6,17.6,66,18.8,66,18.8c-22-3.6-25.6-21.2-25.6-21.2c3.6,10.8,52.4,17.2,52.4,17.2
	C240.4,202,223.6,251.2,223.6,251.2z" />
<g>
                                <path style="fill:#324A5E;" d="M129.6,105.6c0,0,68.8-27.6,103.6,34.8c37.6,66.4-9.6,138.8-19.2,144.4c0,0,2.4-11.6,9.6-33.6
		c0,0,16.8-49.2-33.6-56.8c0,0-49.2-6.4-52.4-17.2c0,0,3.6,17.6,25.6,21.2c0,0-50.4-1.2-66-18.8c0,0-21.6,70.8,10,109.2
		c0,0-54-43.2-47.6-110C59.2,178.8,56.4,87.2,129.6,105.6z" />
                                <path style="fill:#324A5E;" d="M362.4,483.6C329.6,499.2,292.8,508,254,508c-22,0-43.2-2.8-63.2-8c12-37.2,19.2-71.2,23.6-100.4
		l0,0c0.8,0,14.8-53.6,7.2-86.8L323.2,362L362.4,483.6z" />
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

                            </div>
                            <form>
                                <div class="elgninside">
                                    <div class="elgnttl">
                                        <h4>User Login</h4>
                                    </div>
                                    <div class="elgnform">
                                        <hr />
                                        <ul>
                                            <li>
                                                <div class="form-group">
                                                    <label>Username Or Email Address</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" class="form-control" />
                                                </div>
                                            </li>
                                            <li>
                                                <input type="submit" class="btn btn-info" value="Login" />
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="elgnftr">
                                        <span><a href="javascript:void(0)">Forgot Password ?</a></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</body>
</html>
